<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
</head>
<body>
<p>
    <a href="/shop">Các sản phẩm của cửa hàng</a>
</p>
<h1>Giỏ hàng của bạn</h1>
<form th:action="@{/shop}" th:object="${cart}" method="post">
    <h3>Total Items: <span th:text="${cart.countItemQuantity()}"></span></h3>
    <h3>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h3>
    <table border="1">
        <tr>
            <th>Mặt hàng</th>
            <th>Số lượng</th>
            <th>Giá sản phẩm($)</th>
        </tr>
        <tr th:each="product: ${cart.products}">
            <td th:text="${product.getKey().name}"></td>
            <td>
                <a id="decrease_button" th:text="${'-'}"></a>
                <span th:text="${product.getValue()}"></span>
                <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"
                   th:text="${'+'}"></a>
            </td>
            <td th:text="${product.getKey().price}"></td>
        </tr>
        <tr>
            <td>Tổng tiền</td>
            <td></td>
            <td th:text="${cart.countTotalPayment()}"></td>
        </tr>
    </table>
</form>
</body>
</html>